<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Page</title>
</head>
<body>
<h1>Add a goal</h1>

<div>
    <form method="post">
        <input type="text" name="userName" placeholder="Enter your name">
        <input type="text" name="description" placeholder="Enter a description">
        <input type="text" name="goalType" placeholder="Enter a goal type">
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        <button type="submit">Add</button>
    </form>
</div>
<br>

<h1>Goals list: </h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
    </tr>
    </thead>
<!--    <tbody>-->
<!--    <tr th:each="goal:${goals}">-->
<!--        <td th:text="${goal.user.name}">name</td>-->
<!--        <td th:text="${goal.description}">description</td>-->
<!--        <td th:text="${goal.type}">type</td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>
<br>

<a href="/">redirect to greeting</a>


</body>
</html>